
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  flex-direction: column;
  flex-wrap: wrap;
}

.card{
border: 1px solid red;
width: 8rem;
height: 8rem;
display: flex;
justify-content: center;
align-items: center;
margin: 1rem;
flex-direction: column;
}

.card-btn{
  border: 1px solid green;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;

}
.wrapper{
  display: flex;
}

.counter{
  border: 1px solid green;
  width: 1rem;
}
.add-btn{
  margin: 1rem;
}


